*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 20px;
    color: #424242;
}

.d-flex {
    display: flex;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    font-family: Lato;
    display: flex;
    flex-direction: column;
    
}

.container {
    max-width: 1414px; 
    padding: 0 14px;
    margin: 0 auto;
    box-sizing: content-box;
}

/* -----HEADER-------------------------------- */

.header {
    left: 0;
    top: 0;
    border-bottom: 1px solid #D6D6D6;
}

.header-container {
    min-height: 86px;
    align-items: center; 
}

.header-logo {
    align-items: center;
}

.header__burger {
    display: none;
}

.header-menu {
    margin: 0 0 0 172px;
}

.menu {
    padding: 6px 0;
}

.menu-list {
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    z-index: 2;
}

.menu-item:not(:last-child){
    margin: 0 72px 0 0;
}


.menu-link {
    color: #292929;
    line-height: 1.2;
}

.header-btn {
    padding: 0 0 0 284px;
}

.button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.button-span {
    display: block;
    line-height: 1.2;
    color: #000;
    cursor: pointer;
}

.trial-button {
    margin: 0 0 0 34px;
    color: #fff;
    font-size: inherit;
    background-color: #01996D;
    padding: 14px 50px;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width:912px) {
    body.lock {
        overflow: hidden;
    }

    .header-container {
        height: 50px;
    }

    .header-burger {
        display: block;
        margin-left: auto;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 4;
    }

    .header-burger span {
        position: absolute;
        background-color: #000;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
    }

    .header-burger::before,
    .header-burger::after {
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }

    .header-burger::before {
        top: 0;
    }

    .header-burger::after {
        bottom: 0;
    }

    .header-burger.active span {
        transform: scale(0);
    }

    .header-burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }

    .header-burger.active::after{
        transform: rotate(-45deg);
        top: 9px;
    }

    .header-menu {
        flex-direction: column;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.5s ease 0s;
        background-color: rgb(79, 98, 107);
        padding: 70px 0 0 0;
        z-index: 3;
    }

    .header-menu.active {
        top: 0;
    }

    .menu-list {
        flex-direction: column;
        align-items:flex-start;
        font-size: 24px;
        padding: 0 0 40px 10px;
    }

    .menu-list li:not(:last-child) {
        padding: 0 0 20px 0;
    }

    .header-btn {
        display: block;
        padding: 0 0 0 10px;
    }
}

@media (max-width: 1279px) {
    .trial-button {
        margin: 0;
    }
}

/* .hamb {
    display: none;
} */

@media (max-width: 1400px) {
    .header-menu {
        margin: 0 0 0 92px;
    }
    .menu-item:not(:last-child){
        margin: 0 32px 0 0;
    }
}

@media (max-width: 1279px) {
    /* .header-menu {
        position: relative;
        width: 250px;
        height: 100vh;
        background: #333;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -250px;
        padding: 14px;
        font-size: 25px;
        z-index: 3;
        color: #fff;
	} */

    .header-menu li {
        margin-bottom: 20px;
    }

    .menu-link {
        color: #000;
    }

    .header-menu li:last-child {
        margin-bottom: 0;
    }

    .button-span {
        display: block;
        padding: 0 40px 10px 0;
        font-size: 20px;
        color: #fff;
	}

    /* .header-menu button {
        margin-left: -100px;
    } */

    .hamb {
        display: block;
        font-size: 35px;
        margin-left: auto;
    }
}

/* -----MAIN---------------------------------------- */
/* -----PAGE-MAIN-BLOCK----------------------------- */
.page {
    flex: 1 1 auto;

}

/* .page-main-block {
} */

.main-block {
    position: relative;
}

.main-block-container {
    background: url(../img/BG.png) no-repeat center;
    background-size: cover;
    animation: opacity 0.8s ease-in 400ms forwards;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main-block-body {
    max-width: 1414px;
    margin: auto;
    position: relative;
    z-index: 2;
    padding: 174px 0 400px 0;
}

@media (max-width: 1400px) {
    .main-block-body {
        padding: 174px 14px 400px 14px;
    }
}

@media (max-width: 768px) {
    .main-block-body {
        padding: 30px 14px 40px 14px;
        height: 500px;
    }
}

@media (max-width: 280px) {
    .main-block-body {
        height: 550px;
    }
}

.main-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 65px;
    font-weight: 700;
    line-height: 1.13;
    color: #01996D;
    max-width: 440px;
    margin-bottom: 30px;
}

@media (max-width: 480px) {
    .main-title {
        font-size: 50px;
    }
}

.main-text {
    max-width: 420px;
    margin: 0 0 18px 0;
    min-height: 120px;
    line-height: 1.5;
}

.main-button {
    padding: 20px 50px;
    margin: 0;
}

/* -----SERVICES------------------------------------------- */

.block-size {
    max-width: 1414px;
    margin: auto;
    padding: 150px 14px 0 14px;
}

@media (max-width: 1300px) {
    .services {
        padding: 70px 14px 0 14px;
    }
}

.services-header-container {
    flex-wrap: wrap;
    /* max-width: 584px; */
}

@media (max-width: 1300px) {
    .services-header-container {
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
}

@media (max-width: 480px) {
    .services-header-container {
        padding: 20px 0 0 0;
    }
}

.services-header-mane {
    font-size: 24px;
    line-height: 1.57;
}

@media (max-width: 1300px) {
    .services-header-mane {
        text-align: center;
    }
}

.services-header-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.57;
    color: #01996D;
    max-width: 584px;
}

@media (max-width: 1300px) {
    .services-header-title {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .services-header-title {
        font-size: 32px;
        line-height: 1;
    }
}

.services-header-description {
    line-height: 1.5;
    margin-left: auto;
    padding: 24px 0 0 0;
    max-width: 656px;
}

@media (max-width: 1300px) {
    .services-header-description {
        margin: auto;
        text-align: center;
        margin-top: 20px;
    }
}

@media (max-width: 800px) {
    .services-header-description {
        max-width: 100%;
        box-sizing: border-box;
    }
}

.services-body {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

@media (max-width: 1200px) {
    .services-body {
        justify-content: space-evenly;
    }
}

.column {
    max-width: 390px;
    overflow: hidden;
}

.column-top-1 {
    padding: 186px 0 0 0;
}

.column-top-2 {
    padding: 474px 0 0 0;
}

.column-top-3 {
    padding: 240px 0 0 0;
}

.column-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    color: #000;
    margin-left: 88px;
    margin-bottom: 54px;
    position: relative;
}

@media (max-width: 1170px) {
    .column-top-2 {
        padding: 332px 0 0 0;
    }
    .column-top-3 {
        padding: 140px 0 0 0;
    }
}

@media (max-width: 780px) {
    .column-top {
        padding: 140px 0 0 0; 
     }    
}

.title-2 {
    margin-left: 76px;
}

.title-3 {
    margin-left: 124px;
}

.title-1::before {
    position: absolute;
    content: '';
    background: url(../img/01.svg) no-repeat;
    width: 154px;
    height: 224px;
    margin-left: -88px;
    margin-top: -50px;
}

.title-2::before {
    position: absolute;
    content: '';
    background: url(../img/02.svg) no-repeat;
    width: 158px;
    height: 224px;
    margin-left: -76px;
    margin-top: -50px;
}

.title-3::before {
    position: absolute;
    content: '';
    background: url(../img/03.svg) no-repeat;
    width: 158px;
    height: 224px;
    margin-left: -124px;
    margin-top: -50px;
}

.column-text {
    line-height: 1.5;
    max-width: 370px;
    margin-bottom: 60px;
}

/* .monitor-image {
    position: relative;
    z-index: 1;
} */

/* .monitor-image::before {
    position: absolute;
    content: '';
    background: url(../img/monitor.svg) no-repeat;
    width: 186px;
    height: 156px;
    margin-left: 206px;
    margin-top: 224px;
    z-index: 2;
    border-radius: 4px 0 4px 0;
} */

/* ------CONTAINER-VIDEO----------------------------------------------- */

.container-video {
    height: 922px;
    background-color: #245852;
}

/* @media (max-width: 1500px) {
    .container-video {
        height: 622px;
    }
} */

.video-block-size {
    max-width: 1508px;
}

.holder-video {
    padding-top: 230px;
    flex-wrap: wrap;
}

.header-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #fff;
    line-height: 1.57;
    font-weight: 700;
    max-width: 580px;
    padding-top: 80px;
    margin-bottom: 34px;
}

@media (max-width: 1510px) {
    .holder-video {
        padding-top: 70px;
    }
    .block-body {
        margin: auto;
        text-align: center;
        margin-bottom: 30px;
    }
    .header-title {
        font-size: 30px;
        padding-top: 5%;
    }    
}

.video-text {
    font-size: 25px;
    line-height: 1.57;
    color: #fff;
    margin-bottom: 56px;
}

.video-button {
    margin: 0;
    padding: 20px 50px;
}

.video-content {
    margin-left: auto;
}

@media (max-width: 1500px) {
    .video-content {
        margin: auto;
    }
}

/* -----ABOUT-US---------------------------------------- */

.about-us {
    height: 936px;
}

.about-us-content {
    position: relative;
}

.about-us-content::after {
    position: absolute;
    content: '';
    background-image: url(../img/mikayla.png);
    width: 638px;
    height: 574px;
    margin-left: 56px;
    margin-top: 116px;
    z-index: -1;
}

.custom-container {
    margin-top: 474px;
    width: 296px;
    height: 294px;
    color: #000;
    background-color: #ffffff;
    border-radius: 4px;
    filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));
    z-index: 1;
    transition: 0.5s linear;  
}

.custom-container:hover {
    box-shadow: 296px 0 0 0 rgba(165, 165, 165, 0.25) inset;
}

.custom-header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.custom-header-title {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 1.57;
    font-weight: 700;
    margin: 22px 0;
}

.custom-header-title::before {
    content: '';
    position: absolute;
    border-bottom: solid 1px #000;
    width: 110px;
    height: 30px;
    margin-left: -54px;
}

.custom-img {
    width: 58px;
    height: 58px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.custom-header-text {
    font-size: 12px;
    line-height: 1.57;
}

.custom-box {
    margin-left: 60px;
}

.custom-box-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    line-height: 1.59;
    color: #000;

}

.custom-box-title {
    font-size: 16px;
}


.custom-box-list {
    position: relative;
    left: 12px;
}

.custom-box-item {
    font-size: 10px;
    margin-top: 16px;
}

.custom-box-item::after {
    content: '';
    position: absolute;
    left: -10px;
    margin-top: 4px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #333;

}

.about-us-info {
    margin-left: auto;
}

.about-header-name {
    padding: 120px 0 10px 0;
}

.about-us-text-box {
    padding: 20px 0 40px 0;
}

.about-us-text{
    margin: 0;
    max-width: 530px;
    padding-top: 0;
}

@media (max-width: 1100px) {
    .about-us-content {
        flex-direction: column;
    }

    .about-us-content::after {
        display: none;
    }

    .custom-container {
        margin-top: 70px;
    }

    .about-us-info, 
    .custom-container {   
        margin-left: auto;
        margin-right: auto;
    }

    .about-header-name {
        padding: 80px 0 10px 0;
    }

    .about-us-button{
        text-align: center;
    }   
}

@media (max-width: 910px) {
    .about-header-name {
        padding: 60px 0 10px 0;
    }
}

@media (max-width: 610px) {
    .custom-container {
        margin-top: 40px;
    }
    .about-header-name {
        padding: 40px 0 10px 0;
    }
}

@media (max-width: 416px) {
    .about-us-content {
        box-sizing: border-box;
    }

    .custom-box {
        margin: 20px;
    }
}

/* -----FOOTER------------------------------------------------------------------- */

.footer {
    background-color: #245852;
    height: 654px;
    color: #ffffff;
}

.footer-container {
    max-width: 1414px;
    margin: auto;
}

.footer-title {
    font-weight: 900;
    font-size: 40px;
    line-height: 0.55;
    margin-bottom: 92px;
    padding-top: 108px;
}

.footer-item {
    font-weight: 500;
    font-size: 25px;
    line-height: 0.3;
}

.footer-item:not(:last-child) {
    margin-bottom: 84px;
}

.footer-link {
    color: #ffffff;
}

@media (max-width: 1420px) {
    .footer-container {
        padding: 0 14px;
    }
}