*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 20px;
    color: #424242;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    font-family: Lato;
    display: flex;
    flex-direction: column;
    
}

.container {
   max-width: 1414px; 
   padding: 0px 14px;
   margin: 0 auto;
   box-sizing: content-box;
}

/* -----HEADER-------------------------------- */

.header {
    left: 0;
    top: 0;
    border-bottom: 1px solid #D6D6D6;
}

.header-container {
    display: flex;
    min-height: 86px;
    align-items: center;  
}

.header-logo {
    align-items: center;
}

.header-menu {
    display: flex;
    margin: 0px 0px 0px 172px;
}

.menu {
    padding: 6px 0px;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu-item:not(:last-child){
    margin: 0px 72px 0px 0px;
}


.menu-link {
    color: #292929;
    line-height: 1.2;
}

.header-btn {
    margin: 0px 0px 0px 284px;
}

.button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.button-span {
    display: block;
    line-height: 1.2;
    color: #000;
}
.trial-button {
    margin: 0px 0px 0px 34px;
    color: #fff;
    font-size: inherit;
    background-color: #01996D;
    padding: 14px 50px;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 1279px) {
    .header-btn {
        margin: 0px 0px 0px 100px;
    }
    .trial-button {
        margin: 0px 0px 0px 14px;
    }
}

.hamb {
    display: none;
}

@media (max-width: 1400px) {
    .header-menu {
        margin: 0px 0px 0px 92px;
    }
    .menu-item:not(:last-child){
        margin: 0px 32px 0px 0px;
    }
}

@media (max-width: 1279px) {
    .header-menu {
        position: relative;
		width: 250px;
		height: 100vh;
		background: #333;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 0;
		right: -250px;
		padding: 14px;
		font-size: 25px;
		z-index: 3;
		color: #fff;
	}
    .header-menu li {
		margin-bottom: 20px;
	}

    .menu-link {
        color: #fff;
    }

	.header-menu li:last-child {
		margin-bottom: 0px;
	}

	.button-span {
        display: block;
        margin-top: 40px;
        margin-bottom: 6px;
        margin-left: -26px;
		font-size: 20px;
		color: #fff;
	}

    .header-menu button {
        margin-left: -100px;
    }

	.hamb {
	display: block;
	font-size: 35px;
    margin-left: auto;
    }
}

/* -----MAIN---------------------------------------- */
/* -----PAGE-MAIN-BLOCK----------------------------- */
.page {
    flex: 1 1 auto;

}

/* .page-main-block {
} */

.main-block {
    position: relative;
}

.main-block-container {
    background: url(../img/BG.png) no-repeat center;
    background-size: cover;
}

.main-block-body {
    max-width: 1414px;
    margin: auto;
    position: relative;
    z-index: 2;
    padding: 174px 0px 400px 0px;
}

@media (max-width: 1400px) {
    .main-block-body {
        padding: 174px 14px 400px 14px;
    }
}

@media (max-width: 768px) {
    .main-block-body {
        padding: 30px 14px 40px 14px;
        height: 500px;
    }
}

@media (max-width: 280px) {
    .main-block-body {
        height: 550px;
    }
}

.main-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 65px;
    font-weight: 700;
    line-height: 1.13;
    color: #01996D;
    max-width: 440px;
}

@media (max-width: 480px) {
    .main-title {
        font-size: 50px;
    }
}

.main-text {
    max-width: 420px;
    margin: 30px 0px 18px 0px;
    min-height: 120px;
    line-height: 1.5;
}

.main-button {
    padding: 20px 50px;
    margin: 0;
}

/* -----PAGE-WRAPPER-SERVICES---------------------- */

.page-wrapper-services {
    max-width: 1414px;
    padding: 14px;
    margin: auto;
    margin-top: 150px;
}

.services-header-container {
    display: flex;
    flex-wrap: wrap;
    min-width: 584px;
}

.services-header-mane {
    font-size: 24px;
    line-height: 1.57;
}

.services-header-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.57;
    color: #01996D;
    max-width: 584px;
}

.services-header-description {
    line-height: 1.5;
    margin-left: auto;
    margin-top: 24px;
    max-width: 656px;
}

.services-column-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.column-container {
    max-width: 390px;
}

.column-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    color: #000;
    margin-top: 186px;
    margin-left: 88px;
    margin-bottom: 54px;
    position: relative;
}

.title-2 {
    margin-top: 474px;
    margin-left: 76px;
}

.title-3 {
    margin-top: 240px;
    margin-left: 124px;
}

.title-1::before {
    position: absolute;
    content: '';
    background: url(/img/01.svg) no-repeat;
    width: 154px;
    height: 224px;
    margin-left: -88px;
    margin-top: -50px;
}

.title-2::before {
    position: absolute;
    content: '';
    background: url(/img/02.svg) no-repeat;
    width: 158px;
    height: 224px;
    margin-left: -76px;
    margin-top: -50px;
}

.title-3::before {
    position: absolute;
    content: '';
    background: url(/img/03.svg) no-repeat;
    width: 158px;
    height: 224px;
    margin-left: -124px;
    margin-top: -50px;
}

.column-text {
    line-height: 1.5;
    max-width: 370px;
    margin-bottom: 60px;
}

.monitor-image {
    position: relative;
    z-index: 1;
}

.monitor-image::before {
    position: absolute;
    content: '';
    background: url(/img/monitor.svg) no-repeat;
    width: 186px;
    height: 156px;
    margin-left: 206px;
    margin-top: 224px;
    z-index: 2;
    border-radius: 4px 0px 4px 0px;
}